body{
    background: linear-gradient(180deg, #F95B2E 0%, #1E1E1E 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.container{
    display: flex;
    width: 650px;
    height: 500px;
    padding: 36px 0px;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F3F3F3;
}
.icon{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}
.wrapper-inputs form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    justify-content: center;
}
.wrapper-inputs input{
    display: flex;
    width: 350px;
    padding: 19px 17px;
    align-items: center;
    border-radius: 8px;
    background: #D0CACA;
    border: none;
}
.wrapper-inputs input::placeholder{
    color: #6F6565;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.submit{
    display: flex;
    width: 385px;
    height: 57px;
    padding: 7px 126px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 8px solid #F95B2E;
    background: #F95B2E;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
    display: flex;
    width: 388px;
    padding: 36px 0px;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    }
    .wrapper-inputs input{
    display: flex;
    width: 315px;
    padding: 19px 17px;
    align-items: center;
    gap: 10px;
    }

    .submit{
        width: 350px;
    }
}